.box1 {
  margin: 5px 5px 5px 5px;
  background-color: red;
}
#new-name,
#myTextarea {
  display: block;
  margin-left: 38%;
}

.tab {
  border: 1px solid #ccc;
  background-color: aqua;
  position: static;
  text-align-last: left;
}

#go-back,
#clear-tab {
  background-color: yellowgreen;
  font-size: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
}

button {
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 14px 16px;
  background-color: aqua;
}

.tab button:hover {
  background-color: grey;
}

body {
  background: linear-gradient(120deg, #2980b9, #8e44ad);
  text-align: center;
}

form {
  position: relative;
  max-width: 700px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  font-family: Arial;
  margin-left: 25%;
  margin-top: 15%;
}

#create-tab {
  background-color: yellowgreen;
  font-size: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
}

#go-to-tab {
  background-color: yellowgreen;
  font-size: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-left: 5px;
}

.active {
  background-color: grey;
}

#after {
  display: none;
}
p {
  border-style: solid;
  border-width: 1px;
  margin-top: 0px;
  background-color: white;
}

.heading {
  text-align: center;
  padding: 0 0 0px 0;
  border-bottom: 2px solid silver;
  font-family: Arial;
  background-color: aqua;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
